accelerate==1.7.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.12
aiosignal==1.3.2
airportsdata==20250523
-e git+https://github.com/ROCm/aiter.git@84cfe94f4679d629d0258d398ac985cd92c46e60#egg=aiter
amdsmi==6.3.3
annotated-types==0.7.0
anyio==4.9.0
astor==0.8.1
attrs==25.3.0
blake3==1.0.5
boto3==1.38.35
botocore==1.38.35
cachetools==6.0.0
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
cloudpickle==3.1.1
cmake==4.0.2
compressed-tensors==0.10.1
contourpy==1.3.2
cycler==0.12.1
dataclasses-json==0.6.7
datasets==3.6.0
depyf==0.18.0
dill==0.3.8
diskcache==5.6.3
distro==1.9.0
dnspython==2.7.0
einops==0.8.1
email_validator==2.2.0
fastapi==0.115.12
fastapi-cli==0.0.7
filelock==3.18.0
flash_attn==2.7.2
fonttools==4.59.0
frozenlist==1.7.0
fsspec==2025.3.0
gguf==0.17.0
googleapis-common-protos==1.70.0
greenlet==3.2.3
grpcio==1.73.0
h11==0.16.0
hf-xet==1.1.3
hf_transfer==0.1.9
hiredis==3.2.1
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.1
huggingface-hub==0.33.0
humanize==4.12.3
idna==3.10
importlib_metadata==8.7.0
iniconfig==2.1.0
inquirerpy==0.3.4
interegular==0.3.3
Jinja2==3.1.6
jiter==0.10.0
jmespath==1.0.1
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
kiwisolver==1.4.8
langchain==0.3.26
langchain-community==0.3.26
langchain-core==0.3.67
langchain-openai==0.3.27
langchain-text-splitters==0.3.8
langgraph==0.5.1
langgraph-checkpoint==2.1.0
langgraph-prebuilt==0.5.2
langgraph-sdk==0.1.72
langsmith==0.4.4
lark==1.2.2
libnacl==2.1.0
llguidance==0.7.29
llvmlite==0.44.0
lm-format-enforcer==0.10.11
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.26.1
matplotlib==3.10.3
mdurl==0.1.2
mistral_common==1.6.0
mpmath==1.3.0
msgpack==1.1.0
msgspec==0.19.0
multidict==6.4.4
multiprocess==0.70.16
mypy_extensions==1.1.0
nest-asyncio==1.6.0
networkx==3.5
ninja==1.10.2.4
numba==0.61.2
numpy==1.26.4
openai==1.93.0
opencv-python-headless==4.11.0.86
opentelemetry-api==1.34.1
opentelemetry-exporter-otlp==1.34.1
opentelemetry-exporter-otlp-proto-common==1.34.1
opentelemetry-exporter-otlp-proto-grpc==1.34.1
opentelemetry-exporter-otlp-proto-http==1.34.1
opentelemetry-proto==1.34.1
opentelemetry-sdk==1.34.1
opentelemetry-semantic-conventions==0.55b1
opentelemetry-semantic-conventions-ai==0.4.9
orjson==3.10.18
ormsgpack==1.10.0
outlines==0.1.11
outlines_core==0.1.26
packaging==24.2
pandas==2.3.0
partial-json-parser==0.2.1.1.post5
peft==0.15.2
pfzy==0.3.4
pillow==11.2.1
pluggy==1.6.0
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.22.1
prompt_toolkit==3.0.51
propcache==0.3.2
protobuf==5.29.5
psutil==7.0.0
py-cpuinfo==9.0.0
pyarrow==20.0.0
pybind11==2.13.6
pycountry==24.6.1
pydantic==2.11.5
pydantic-settings==2.10.1
pydantic_core==2.33.2
Pygments==2.19.1
pyparsing==3.2.3
pytest==8.4.0
pytest-asyncio==1.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-json-logger==3.3.0
python-multipart==0.0.20
pytorch-triton-rocm==3.3.1+gitc8757738
pytz==2025.2
PyYAML==6.0.2
pyzmq==26.4.0
ray==2.44.1
redis==6.2.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.4
requests-toolbelt==1.0.0
rich==14.0.0
rich-toolkit==0.14.7
rpds-py==0.25.1
runai-model-streamer==0.11.0
runai-model-streamer-s3==0.11.0
s3transfer==0.13.0
safetensors==0.5.3
scipy==1.15.3
sentencepiece==0.2.0
setuptools==79.0.1
setuptools-scm==8.3.1
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.41
starlette==0.46.2
sympy==1.14.0
tenacity==9.1.2
tensorizer==2.9.3
tiktoken==0.9.0
tokenizers==0.21.1
torch==2.8.0.dev20250611+rocm6.3
tqdm==4.67.1
transformers==4.52.4
triton @ file:///lustre/orion/stf218/proj-shared/brave/triton/python
typer==0.16.0
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.4.0
uvicorn==0.34.3
uvloop==0.21.0
-e git+https://github.com/vllm-project/vllm.git@b6efafd9e43fb2ecc18e7789206f11754a50c7d1#egg=vllm
watchfiles==1.0.5
wcwidth==0.2.13
websockets==15.0.1
wheel==0.45.1
xgrammar==0.1.19
xxhash==3.5.0
yarl==1.20.1
zipp==3.23.0
zstandard==0.23.0
